.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 42px 128px;
  width: 100%;
}

.container,
.comments {
  width: 100%;
}

.divider {
  width: 750px;
  border-top-width: 2px;
}

.likeComment {
  display: flex;
  align-items: center;
}

.title {
  font-size: 36px;
  font-weight: 700;
  font-family: "Open Sans" !important;
  line-height: 45px;
}

.description {
  font-size: 20px;
  font-family: "Open Sans" !important;
  color: #565d6d;
  line-height: 33px;
}

.articleDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px 0;
}

.meta {
  display: flex;
  align-items: center;
  gap: 16px;
}

.author {
  font-family: "Open Sans" !important;
  font-weight: 600;
  font-size: 18px;
}

.date {
  font-family: "Open Sans" !important;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #565d6dff;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tag {
  font-size: 12px;
  font-weight: 600;
  font-family: "Open Sans" !important;
  padding: 0 10px;
  background: #f3f4f6;
  border: none;
  border-radius: 6px;
  text-transform: capitalize;
}

.metrics {
  display: flex;
  align-items: center;
  gap: 10px;
}

.metricButton {
  font-size: 14px;
  padding: 0 8px;
}

.body {
  font-size: 16px;
  font-family: "Open Sans" !important;
  line-height: 26px;
  color: #171a1f;
}

.body p {
  margin-bottom: 20px;
}

.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
}

.commentCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addComment h1 {
  font-size: 24px;
  font-family: "Open Sans" !important;
  line-height: 32px;
  font-weight: 700;
  color: #171a1f;
  margin: 0;
}

.addComment {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 24px;
}

.postButton {
  height: 40px;
  padding: 0 16px;
  font-size: 14px;
  font-family: "Open Sans" !important;
  line-height: 22px;
  font-weight: 500;
  color: #fafafa;
  background: #171717;
}

.newComment {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  gap: 16px;
  width: 100%;
}
