.body {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.form {
  width: 500px;
  background: white;
  color: black;
  padding: 48px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form h1 {
  font-size: 30px;
  font-family: "Lora";
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.username,
.email,
.password {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.username label,
.email label,
.password label {
  font-family: "Lora" !important;
  font-size: 16px;
  font-weight: 600;
}

.username input,
.email input,
.password input {
  font-family: "Lora" !important;
  background: white;
  color: black;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px 16px;
  outline: none;
}

.submitBtn {
  font-family: "Lora" !important;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  background: #364f6b;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 0;
  margin-top: 18px;
  cursor: pointer;
}

.submitBtn:hover {
  background: #1f2b3a;
}

.register {
  font-family: "Lora" !important;
  font-size: 14px;
  line-height: 20px;
  color: #9095a1;
  text-align: center;
}

.registerLink {
  color: #364f6b;
  text-decoration: none;
}
