.body {
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  padding: 24px 32px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.heading h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Open Sans" !important;
  line-height: 40px;
  margin: 0 0 10px;
  text-align: center;
}

.heading h3 {
  font-size: 18px;
  font-family: "Open Sans" !important;
  line-height: 18px;
  text-align: center;
  margin: 0;
  color: #565d6d;
}

.title,
.description,
.content,
.tags {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title label,
.description label,
.tags label,
.content label {
  font-size: 14px;
  font-weight: 500;
  font-family: "Open Sans" !important;
  line-height: 22px;
}

.title input,
.description input,
.tags input,
.content textarea {
  background: white;
  color: black;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Open Sans" !important;

  padding: 8px 12px;
  outline: none;
}

.buttonarea {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.buttonarea button {
  font-size: 16px;
  font-weight: 500;
  background: #171717;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 12px 18px;
  cursor: pointer;
}

.content textarea {
  resize: none;
}
