.body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 42px 0;
}

.form {
  width: 700px;
  background: white;
  color: black;
  padding: 24px 48px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: "Open Sans" !important;
  margin: 0;
}

.form h3 {
  font-size: 16px;
  line-height: 24px;
  font-family: "Open Sans" !important;
  color: #565d6d;
}

.form h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  font-family: "Open Sans" !important;
  margin: 0;
}

.imageUrl,
.username,
.bio,
.email,
.password {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imageUrl label,
.username label,
.bio label,
.email label,
.password label {
  font-size: 14px;
  font-family: "Open Sans" !important;
  font-weight: 500;
  line-height: 22px;
}

.imageUrl input,
.username input,
.email input,
.password input,
.bio textarea {
  background: white;
  color: black;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px 16px;
  outline: none;
}

.saveButton {
  margin-top: 32px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  background: #171717;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 12px 18px;
}

.saveButton:hover {
  background: #171717;
  cursor: pointer;
}

.bio textarea {
  resize: none;
}
