.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.meta {
  display: flex;
  align-items: center;
  gap: 12px; /* 0.75rem */
}

.firstRow {
  display: flex;
  justify-content: space-between;
}

.author {
  display: flex;
  gap: 10px;
  align-items: center;
}

.authorDetails a {
  font-weight: bold;
}

.authorDetails a,
.authorDetails p {
  font-size: 12px;
  line-height: 0%;
}

.title {
  margin-top: 0;
  font-size: 18px;
}

.description {
  font-size: 14px;
  font-weight: normal;
  white-space: normal;
  word-wrap: break-word;
}

.thirdRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thirdRow a {
  font-size: 12px;
}

.tags {
  width: 50%;
  display: flex;
  justify-content: right;
}
