.card {
  max-width: 750px;
  width: 100%;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.articleText {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.title {
  font-size: 24px !important;
  font-weight: 700;
  line-height: 30px;
  margin: 0 !important;
  /* if we want to add ellipsis
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.description {
  font-family: "Inter" !important;
  font-size: 16px;
  line-height: 26px;
  color: #5f5f5f;
  margin: 0;
}

.authorDetails {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #364f68;
  margin: 0;
}

.dot {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: black;
}

.datePosted {
  color: #5f5f5f;
  font-weight: 400;
}

.tag {
  background: white;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 10px;
  border-radius: 9999px;
  border: 1px solid #e1e1e1;
  text-transform: capitalize;
}

.metrics {
  display: flex;
  align-items: center;
  gap: 10px;
}

.metricButton {
  font-size: 14px;
  padding: 0 8px;
}

.endRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.readMore {
  font-size: 14px;
}
