.card {
  padding: 10px 0;
  display: flex;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.author {
  display: block;
  font-weight: 600;
  font-size: 14px;
}

.date {
  display: block;
  font-size: 12px;
  color: #888;
}

.body {
  font-family: "Open Sans" !important;
  font-size: 14px;
  line-height: 23px;
  color: #171a1f;
}

.closeButton {
  font-size: 10px;
}
