.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  background-color: white;
  color: black;
  border-bottom: 2px solid #364f6b14;
}

.logo h1 {
  font-size: 18px;
  font-weight: 800;
  color: #364f68;
  margin: 0;
}

.navLinks ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 24px;
}

.navLinksLi {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
}

.navLinksLi:hover {
  background: #f4f4f4;
  cursor: pointer;
}

.navLinks a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: color 0.2s ease;
}

.userMenu {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
}

.username {
  font-size: 16px;
  color: black;
}
